<div class="container text-center">
  <h1>About Page</h1>
  <br />
  <p>We are DevMatch, our company focuses on creating an exclusive community
  for developers and entrepeneurs to meet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente voluptates laboriosam perferendis laudantium ad repellat eius doloribus voluptatibus ipsa! Aspernatur laboriosam, neque tenetur odio earum, minus fugit asperiores reiciendis tempore. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium eveniet consectetur laborum, ex nulla optio. Sapiente perferendis molestias illo aut nulla, minima pariatur temporibus obcaecati at rerum itaque voluptate sed.</p>
</div>